@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@300;400;500;700&family=Moulpali&family=Poppins:wght@300;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Kodchasan', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-login {
    font-size: 50px;
    font-style: italic;
    color: white;
    transition: all;
    padding: 1rem;
    height: 3.5vh;
}

.back-arrow{
    color: white;
    opacity: 50%;
    transition: all 0.5 ease-in-out;
}

.back-arrow:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    opacity: 100%;
}

.nexus-logo {
    font-size: 4rem;
    text-shadow: 2px 5px 5px rgba(255, 255, 255, 0.534);
}

.div-pai-sections {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.left-side-login {
    width:70%;
    display: flex;
    flex-direction: column;
    color: white;
    /* padding: 2rem 3rem 2rem 12rem; */
    gap: 2rem;
}

.right-side-login {
    width: 70%;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    filter: blur(px);
}

.div-logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-logo img{
    width: 30%;

}

.items-login {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.items-login input {
    width: 70%;
    padding: 1rem 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    text-indent: 10px;
    font-size: 1rem;
}

/* .items-login input:focus{
    -webkit-box-shadow: 0px 0px 14px 6px rgb(255, 0, 0);
    -moz-box-shadow: 0px 0px 14px 6px rgb(255, 0, 0);
    box-shadow: 0px 0px 14px 6px rgb(255, 0, 0);
} */

.subtitle-items-login {
    font-size: 2.3rem;
}

.items-login button {
    background-color: #ffffff;
    width: 70%;
    padding: 0.6rem 0;
    border-radius: 10px;
    /* border: 1px solid #8300C0; */
    color: #31105C;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.5s;
}

.button-login:hover {
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    opacity: 0.5;
}

textarea:focus, input:focus{
    outline: none;
    border-bottom: 2px solid white;
}

.input-fields::-ms-reveal {
    filter: invert(100%);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .div-pai-sections{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 5vh;
    }

    .div-pai-sections img{
        width: 10%;
        filter: blur();
    }

}

  